<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="header">
    <ul>
    <% if logged_in? %>
      <button class="button"><%= link_to "Log Out" %></button>
      <button class="button"><%= link_to "Create A Post", new_post_path %></button>
    <% else %>
      <button class="button"><%= link_to "Sign in", new_session_path %></button>
      <button class="button"><%= link_to "Create Account", new_user_path %></button>
    <% end %>
    <button class="button"><%= link_to "Home", root_path %></button>
  </nav>

  <%= yield %>

</body>
</html>
